@import url('https://fonts.googleapis.com/css?family=Open+Sans');

table{
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  color: #ff2939;
  text-align: center;
  margin: 0 auto;

}

#wb_main_bot{
  width: 100%;
  margin: 0 auto;
  padding-top: 0.4%;
}

#wb_bots{
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  color: #787878;
  border: 2px solid #787878;
  border-radius: 5px;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin: 0.4% auto;
}

#form_page{
  float: left;
  margin-left: 4%;
}

#form_command{
  margin-left: 20%
}

#input_command{
  width: 60%;
}

#wb_bots_info{
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  color: #ff2939;
  text-align: center;
  margin-right: 3%;
  margin-top: -49%;
  float:right;
}

#bot_information{
  border: 1px solid #787878;
  border-radius: 5px;
  padding:0 1%;
  margin-top: 3%;
}
/*
.wb_main_bot_list{
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  color: #ff2939;
  background-color: white;
  margin-left: 1%;
  float: left;
}
*/
